@* kudventkat (2019) List all users from asp net core identity database. Available at:  *@
@* https://www.youtube.com/watch?v=OMX0UiLpMSA&list=PL6n9fhu94yhVkdrusLaQsfERmL_Jh4XmU&index=84&ab_channel=kudvenkat  *@

@* Kudvenkat (2019) Delete identity user in asp net core. Available at: https: *@
@* www.youtube.com/watch?v=MhNfyZGfY-A&list=PL6n9fhu94yhVkdrusLaQsfERmL_Jh4XmU&index=86&ab_channel=kudvenkat *@

@model IEnumerable<ApplicationUser>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "All Company Users";
}
<h1>All website users</h1>
<hr>

@if(Model.Any())
{

    <a href="@Url.Content("~/Identity/Account/Register")" class="btn btn-primary">
        Create New User
    </a>
    
    <a class ="btn btn-secondary reset-btn" asp-action="Index" asp-controller="administration">
        Back to Administration Portal
    </a>
    
    <hr>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col">User ID</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach(var user in Model)
        {
            <tbody>
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.Id</td>
                    <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                        <td>
                            <a asp-action="EditUser" asp-controller="Administration" 
                                asp-route-id="@user.Id" class="btn btn-warning">Edit</a>
                        </td>
                        <td id="deleteTd_@user.Id">
                            <a href="#" class="btn btn-danger"
                                onclick="confirmDelete('@user.Id', true)">Delete</a>
                        </td>                    
                        <td id="confirmDeleteTd_@user.Id" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary"
                                onclick="confirmDelete('@user.Id', false)">No</a>
                        </td>
                    </form>
                </tr>
            </tbody>
        }
    </table>
}
else
{
    <div class="card">
        <div class="card-header">No users created yet</div>
        <div class="card-body">
            <h5 class="card-title">use the button below to create a user</h5>
            <a class="btn btn-primary"
                asp-controller="administration" asp-action="CreateRole">
                Create User
            </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/site.js"> </script>
}