@* MP: From youtube video "Edit rle in asp net core": https://www.youtube.com/watch?v=7ikyZk5fGzk&list=PL6n9fhu94yhVkdrusLaQsfERmL_Jh4XmU&index=80&ab_channel=kudvenkat *@


@model IEnumerable<IdentityRole>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "All Company Roles";
}
<h1>Company Roles</h1>
<hr>

@if(Model.Any())
{
    <a class="btn btn-primary" asp-action="CreateRole"
        asp-controller="administration">Create New Company Role</a>
    <a class ="btn btn-secondary reset-btn" asp-action="Index" asp-controller="administration">
        Back to Administration Portal</a>
    <hr>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Company role</th>
                <th scope="col">Role ID</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach(var role in Model)
        {
            <tbody>
                <tr>                    
                    <td>@role.Name</td>
                    <td>@role.Id</td>                
                    <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                        <td>
                            <a asp-action="EditRole" asp-controller="Administration" 
                                asp-route-id="@role.Id" class="btn btn-warning">Edit</a>
                        </td>                       
                        <td id="deleteTd_@role.Id">
                            <a href="#" class="btn btn-danger"
                                onclick="confirmDelete('@role.Id', true)">Delete</a>
                        </td>                    
                        <td id="confirmDeleteTd_@role.Id" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary"
                                onclick="confirmDelete('@role.Id', false)">No</a>
                        </td>
                    </form>
                </tr>
            </tbody>
        }
    </table>
}
else
{
    <div class="card">
        <div class="card-header">No roles created yet</div>
        <div class="card-body">
            <h5 class="card-title">use the button below to create a role</h5>
            <a class="btn btn-primary"
                asp-controller="administration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/site.js"> </script>
}